:root {
    --sidenav-background-color: #1988C8;
    --sidenav-link-default-color: #1dd0ec;
    --sidenav-link-focus-color: #fff;
    --sidenav-link-hover-color: #fff;

    --section-name-color: #093149;
    --section-break-color: #CDC8D0;

    --icon-color: #093149;

    --sidenav-size: 15rem;
}

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

.sidenav {
    height: 100vh;
    width: var(--sidenav-size);
    position: fixed;
    background-color: var(--sidenav-background-color);

    display: grid;
    grid-template-rows: 25% 50% 15% 10%;
    grid-template-areas:
        "."
        "nav-main"
        "nav-secondary"
        "nav-bottom";
}

.sidenav>section {
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.nav-main {
    grid-area: nav-main;
    display: flex;
    flex-direction: column;
}

.nav-secondary {
    grid-area: nav-secondary;
    display: flex;
    flex-direction: column;
}

.nav-bottom {
    grid-area: nav-bottom;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
    padding: 10px;
}

.icon#github {
    fill: var(--icon-color);
}

.icon#linkedin {
    fill: var(--icon-color);
}

.sidenav img {
    width: 50%;
    border-radius: 2rem;
    border: 5px solid var(--sidenav-link-default-color)
}

.sidenav a {
    color: var(--sidenav-link-default-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.sidenav a:hover {
    color: var(--sidenav-link-hover-color);
}

main>section {
    position: relative;
    margin-left: var(--sidenav-size);
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    border: 1px solid --section-break-color;
}

#about h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 6rem;
    color: var(--section-name-color);
    margin-bottom: -1rem;
}
#about h3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

#about h1+h3 {
    font-size: 1.5rem;
}

#about h1+h3+h3 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    
}

#about p {
    margin-bottom: 8rem;
}


